!!!5
%head
  %title HTML5 Boids - Bird flocks simulation
  %link{"rel" => "stylesheet", "href" => "style.css", "type" => "text/css"}
  %link{"rel" => "stylesheet", "href" => "jquery-ui-custom.css", "type" => "text/css"}
  %script{"src" => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js", "type" => "text/javascript"}
  %script{"src" => "kdTree.min.js", "type" => "text/javascript"}

  %script{"src" => "jquery-ui-custom.js", "type" => "text/javascript"}
  %script{"src" => "vector2.js", "type" => "text/javascript"}
  %script{"src" => "boids2d_renderer.js", "type" => "text/javascript"}
  %script{"src" => "boids.js", "type" => "text/javascript"}
  %script{"src" => "app.js", "type" => "text/javascript"}
%body
  #ui
    #options
      %h2 Options

      #controls
        #simulation-controls.slider-group
          .slider-box.option#boidsNumber
            .slider
            .value
            %label Number of boids
          .slider-box.option#simulationSpeed
            .slider
            .value
            %label Simulation speed
          .slider-box.option#acceleration
            .slider
            .value
            %label Acceleration factor
          .slider-box.option#flockSize
            .slider
            .value
            %label Flock size

        #behavior-controls.slider-group
          .slider-box.option#perceivedCenterWeight
            .slider
            .value
            %label Average position importance
          .slider-box.option#perceivedVelocityWeight
            .slider
            .value
            %label Average velocity importance
          .slider-box.option#collisionAvoidanceWeight
            .slider
            .value
            %label Collision avoidance importance
          .slider-box.option#stayInBoundsWeight
            .slider
            .value
            %label Stay in screen importance

      #buttons.btn-group
        .btn#play.active <img src='img/play.png'/> 
        .btn#pause <img src='img/pause.png'/>
        .btn#stop <img src='img/stop.png'/>
    #overhead
      #options-button <img src='img/options.png'/>
      %header
        %h1 Boids
        %p#desc HTML5 Bird Flocks Simulation
        %p#instruction Click for more info

  %canvas#sim
